.our-social-links {
  display: flex;
  box-sizing: border-box;
  width: 206px;
  height: 44px;
  margin: auto;
}

.our-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: $footIconColor;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accentColor;
  }
  &:focus {
    background-color: $accentColor;
  }
}

.our-link-icon:not(:last-child) {
  margin-right: 10px;
}

.our-social-icon {
  fill: $backgroundColor;
  width: 20px;
  height: 20px;
}
