.efective-solution {
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img1.jpg);
  max-width: 1600px;
  justify-content: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $backgroundColor;
  padding-bottom: 200px;
}

.efective-solution > h1 {
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
}
