.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $backgroundColor;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
}
.svg-close {
  width: 11px;
  height: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accentColor;
  }
}
.modal-header {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $headerColor;
  margin: 0;
  margin-bottom: 12px;
}
.send {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline-color: #2196f3;
  }
}
