.nav-links {
  display: flex;
  margin-left: 93px;

  & a {
    position: relative;
    color: $headerColor;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & a::after {
    position: absolute;
    top: 44px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
    opacity: 0;
  }
  // & a:active::after {
  // opacity: 1;
  //}
}
#portfolio-studio a {
  color: $accentColor;
}
#portfolio-studio a::after {
  color: $accentColor;
  opacity: 1;
}
.nav-links > li {
  margin-right: 50px;
}
.nav-links :hover {
  color: $accentColor;
}
.nav-links :focus {
  color: $accentColor;
}
.nav-links :last-child {
  margin-right: 0px;
}
