header {
  border: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
