@media screen and (max-width: 767px) {
  header {
    border: 1px solid #ececec;
    padding: 15px;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  .web-logo {
    font-family: Raleway;
    color: $accentColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .studio-logo {
    font-family: Raleway;
    color: $headerColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .menu-button {
    padding: 0;
    margin: 0;
    background-color: $backgroundColor;
    border: none;
    outline: none;
  }
  .icon-menu {
    display: block;
    width: 24px;
    height: 16px;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
    width: 16px;
    height: 16px;
  }
  .menu-button:hover .icon-cross {
    fill: $accentColor;
  }
  .menu-button:hover .icon-menu {
    fill: $accentColor;
  }
  .menu-container {
    position: absolute;
    display: none;
    background-color: $backgroundColor;
    width: 100%;
    height: 393px;
    top: 100%;
    left: 0;
    text-align: center;
    padding: 60px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.menu-container.is-open {
      display: block;
      z-index: 2;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    border: 1px solid #ececec;
    width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-nav {
    display: flex;
    align-items: center;
    width: 768px;
    margin: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu-button,
  .icon-menu,
  .icon-cross {
    display: none;
  }
  .web-logo {
    font-family: Raleway;
    color: $accentColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .studio-logo {
    font-family: Raleway;
    color: $headerColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}
.menu-container {
  display: flex;
}
