.container-portfolio {
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}
.portfolio-photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-block-start: 0px;
  width: 1170px;
}
.portfolio-photo :nth-child(3n + 3) {
  margin-right: 0px;
}
.portfolio-photo :nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-image {
  width: 370px;
  height: 294px;
  margin-bottom: 20px;
}
.portfolio-list {
  width: 370px;
  height: 404px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: $backgroundColor;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  margin-right: 30px;
}
.portfolio-links {
  display: block;
  width: 370px;
  height: auto;
  padding-bottom: 20px;
  height: 404px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.card {
  width: 370px;
  height: 404px;
}
.link-description {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 24px;
  font-size: 18px;
  font-weight: bold;
  color: $headerColor;
}
.card-content {
  margin-left: 24px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: $textColor;
}
.card-text {
  width: 100%;
  padding-top: 20px;
}
