@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto.css);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/RobotoMedium.css);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto.css);
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/RobotoBlack.css);
  font-style: normal;
  font-weight: 900;
}
