$backgroundColor: #ffffff;
$accentColor: #2196f3;
$textColor: #757575;
$headerColor: #212121;
$footColor: #2f303a;
$iconColor: #afb1b8;
$buttonColor: #f5f4fa;
$footFormColor: rgba(255, 255, 255, 0.3);
$footContactColor: rgba(255, 255, 255, 0.6);
$footIconColor: rgba(255, 255, 255, 0.1);
$inputColor: rgba(33, 33, 33, 0.2);
$placeholderColor: rgba(117, 117, 117, 0.5);
